/* Globals */
:root {
  --font-sans: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: "Crimson Text", Georgia, serif;
  --color-secondary: #333;
  --color-link: #635ac7;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

body {
  margin: 0;
}

a {
  color: var(--color-link);
}

/* Global Header */
.global-header {
  /*padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;*/
	overflow: hidden;
}

/* Header Quote */
.header-quote {
  color: var(--color);
  font-family: var(--font-serif);
  /*margin-left: auto;
  margin-right: auto;*/
	margin: 0;
  max-width: 460px;
}

/* Global Footer */
.global-footer {
	background: #151b26;
  color: white;
  font-family: var(--font-serif);
  text-align: center;
}



/* My CSS */



/* https://projects.lukehaas.me/css-loaders/ */



.ease {
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}

#panel {
	background: white;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	height: 100%;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 1;
	
	-webkit-transition: left 600ms ease;
	-moz-transition: left 600ms ease;
	-ms-transition: left 600ms ease;
	-o-transition: left 600ms ease;
	transition: left 600ms ease;
}
#panel.closed {
	/*box-shadow: none;*/
	left: -100%;
}

.close-button {
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 48px;
	width: 48px;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.25em;
	position: relative;
	top: 0.15em;
	transform: rotate(-135deg);
	vertical-align: top;
	width: 0.45em;
}

#main-content {
	height: 100%;
	overflow: auto;
}

.imgContainer img {
	opacity: 0;
	
	-webkit-transition: opacity 600ms ease;
	-moz-transition: opacity 600ms ease;
	-ms-transition: opacity 600ms ease;
	-o-transition: opacity 600ms ease;
	transition: opacity 600ms ease;
}

/* Justified Image Gallery */
.justified-gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -2.5px;
	overflow: hidden;
}
.justified-gallery:after {
	content: '';
	flex-grow: 999999999;
	height: 0;
	min-width: 200px;
}
.justified-gallery > * {
	display: block;
	flex-grow: 1;
	height: 200px;
	margin: 2.5px;
	/* max-width: 48%; handset only */
	position: relative;
}
.justified-gallery > * > img {
	height: 200px;
	max-width: 100%;
	min-width: 100%;
	object-fit: cover;
	vertical-align: bottom;
}
.justified-gallery.justified-gallery-margin {
	margin: 2.5px;
}
