/* Globals */
:root {
  --font-sans: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*--font-serif: "Crimson Text", Georgia, serif; serif font removed for consistency within small single page site */
  --color-secondary: #333;
  --color-link: #635ac7;
	
	font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif; /* fallback for IE */
  font-family: var(--font-sans);
  font-weight: 300;
  line-height: 1.5;
}

html {
	height: 100%;
}

body {
	color: #333; /* fallback for IE */
	color: var(--color-secondary: #333);
	height: 100%;
  margin: 0;
}

h1 {
	text-transform: capitalize;
	font-weight: 300;
}

h3 {
	font-size: 1em;
	font-weight: 300;
}

a {
	color: #635ac7; /* fallback for IE */
  color: var(--color-link);
	font-weight: normal;
	text-decoration: none;
}

/* Global Header */
.global-header {
	background: rgb(230, 228, 231);
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: left;
}

/* Global Header Content Container */
.global-header-content-container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

/* Global Header Content */
.global-header-content {
	margin: 0 auto;
	max-width: 768px;
	padding: 0 64px;
}

/* Header Quote */
.header-quote {
	margin: 0;
  max-width: 460px;
}

/* Global Footer */
.global-footer {
	background: #151b26;
  color: white;
	padding: 24px 64px;
  text-align: center;
}

/* Utility Classes */
.ease-fast {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.ease {
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.center {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* Material Button */
.button {
	background: white;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	height: 54px;
	margin: 24px;
	width: 54px;
}
.button:hover {
	cursor: pointer;
}
.button:hover .chevron {
	margin: 15px 13px;
}
.chevron {
	margin: 15px 18px;
}
.chevron::before {
	border-color: #fa576d;
	border-style: solid;
	border-width: 3px 3px 0 0;
	content: '';
	display: inline-block;
	height: 11px;
	left: 4px;
	position: relative;
	top: 4px;
	transform: rotate(-135deg);
	vertical-align: top;
	width: 11px;
}

/* Menu Bar */
#menu-bar {
	background: transparent;
	box-shadow: none;
	padding: 20px;
	position: fixed;
	width: 100%;
	z-index: 1;
}
#menu-bar.scrolled {
	background: white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
#menu-bar > * {
	display: inline-block;
}

/* Hero Image */
#hero-image {
	display: block;
	height: 100%;
	margin-left: 48%;
	position: absolute;
}
#hero-gradient {
	background: rgb(238, 236, 239);
	float: right;
	height: 100%;
	position: absolute;
	right: 0;
	width: 50%;
}

/* Fullscreen Image Panel */
#panel {
	background: white;
	border-right: 1px solid #d8d8d8;
	height: 100%;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 2;
}
#panel.closed {
	left: -100%;
}
#panel .button {
	top: 0;
	position: absolute;
}
#dog-full-screen {
	max-height: 100%;
	max-width: 100%;
}

/* Main Content */
#main-content {
	height: 100%;
	text-align: center;
	width: 100%; 
}
#main-content > div:first-child {
	height: 60%; /* included header component container */
}
.banner {
	color: white;
	background: #222b37;
	padding: 4px 64px;
}

/* Dogs Gallery */
#dogs-gallery + a {
	display: block;
	margin: 32px 0;
}
.dog:hover {
	cursor: pointer;
	opacity: 0.8;
}
.dog img {
	opacity: 0;
}

/* Justified Image Gallery */
.justified-gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -2.5px;
	overflow: hidden;
}
.justified-gallery:after {
	content: '';
	flex-grow: 999999999;
	height: 0;
	min-width: 200px;
}
.justified-gallery > * {
	display: block;
	flex-grow: 1;
	height: 200px;
	margin: 2.5px;
	position: relative;
}
.justified-gallery > * > img {
	height: 200px;
	max-width: 100%;
	min-width: 100%;
	object-fit: cover;
	vertical-align: bottom;
}
.justified-gallery.justified-gallery-margin {
	margin: 2.5px;
}

/* Tablet */
@media only screen and (max-width : 768px) {
	.global-header {
		background: rgba(230, 228, 231, 0.9);
	}

	#hero-image {
		left: 50%;
		margin-left: 0;
		opacity: 0.5;
		transform: translateX(-50%);
	}
}

/* Handset */
@media only screen and (max-width : 520px) {
	body {
		font-size: 0.9em;
	}
	.global-header-content,
	.global-footer,
	.banner {
		padding-left: 32px;
		padding-right: 32px;
	}
	
	.justified-gallery > * {
		max-width: calc(48%); /* fallback for mobile browsers with calc() issues */
		max-width: calc(50% - 5px);
	}
}
